{% extends 'other.html' %}
{% load static %}
<title>{% block title %} Home page   {% endblock %}</title>
{% block content %}
    <style>
      body {
        
        background-color:rgb(248, 248, 248);
        margin: 0;
      }
      .main-content-wrapper {
        background: url("{% static 'dist/img/image.jpg' %}"), center/cover;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 85vh;
      }

      .main-content {
        text-align: center;
        color: #fff;
      }
      html{
        scroll-behavior: smooth;
      }
    </style>
  


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" >
      <a class="navbar-brand font-weight-bold" href="#">SCP</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto text-white">
          <li class="nav-item active">
            <a class="nav-link text-lg" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-lg" href="#events">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-lg" href="{% url 'login' %}"
              >Login</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-lg" href="{% url 'signup' %}"
              >Register</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main Content -->
    <div class="main-content-wrapper">
      <div class="main-content">
        <h1>Welcome to Our Community Association</h1>
        <p>That aims to bring the community together.</p>
        <div class="mt-4">
          <a href="{% url 'login' %}" class="btn btn-info mr-2"
            >Login</a
          >
          <a href="{% url 'signup' %}" class="btn btn-light"
            >Register</a
          >
        </div>
      </div>
    </div>
    <div class="container-fluid mt-5" id="events" style="margin-bottom: 2rem;">
      <div class="row justify-content-center mb-3">
        <p class="text-muted" style="font-size: 30px;font-weight: 500;">
        Recent events
        </p>
      </div>
      {% if events %}
      <div class="row ">
       {% for event in events %}
        <!-- Event Card 1 -->
        <div class="col-md-3 event-card" style="cursor: pointer;">
          <div class="card">
            <div class="card-body text-center align-items-center">
              <h3 class="text-center">Event </h3>
              <p class="card-text text-center">{{ event.agenda }}</p>
              <p class="card-text text-center">{{ event.startDate}} - {{ event.endDate }}</p>
              <a href="{% url 'viewEvent' %}" class="btn btn-primary">View More</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
  
      {% else %}
      <div class="row  justify-content-center  mt-3 mb-2">
      <p class="text-muted" style="font-size:25px; font-weight: 500;">Events Comming soon....</p>
      </div>
      {% endif %}

    </div>
    <!-- Footer -->
    <footer class="bg-dark text-white  py-4" >
      <div class="container" style="height: 10vh;">
        <div class="row">
          <div class="col-md-6">
            <p>
              &copy; 2023 Shinyanga Community Platform. All rights reserved.
            </p>
          </div>
          <div class="col-md-6">
            <p>Contact us: info@shinyanga-platform.com</p>
          </div>
        </div>
      </div>
    </footer>
        
    {% if messages %}
   
    <script>
      var messages = [];
    </script>
    {% for message in messages %}
    <script>
      messages.push({
        "message": "{{ message.message }}",
        "tag": "{{ message.tags }}"
      });
    </script>
    {% endfor %}
  {% endif %}



<script>
  $(function(){
    messages.forEach(function(message) {
      if (message.tag === "success") {
        toastr.success(message.message);
      } else if (message.tag=== "error") {
        toastr.error(message.message); 
      } else {
        
        toastr.info(message.message);
      }
    });
  });
</script>
{% endblock %}