{% extends 'base.html' %}
{% load static %}
<title>{% block title %} Complete | Profile {% endblock %}</title>

{% block content %}
<style>
    body{
        background-color: rgb(246, 245, 245);
        
    }
</style>

   <div class="container-fluid" style="height: 96vh;">
    <div class="row justify-content-center" style="margin-top: 50px;">
        <div class="col-md-6">
            <div class="register-logo">
              <a href="../../index2.html"><b>Shinyanga</b>CP</a>
            </div>
      
            <div class="card">
              <div class="card-body register-card-body">
                <h4 class="login-box-msg"><b>Complete Profile</b></h4>
      
                <form method="POST" role="form" action="">
                    {% csrf_token %}
                  <div class="input-group mb-3">
                    <input type="name" class="form-control" placeholder="Enter full name" name="name" required/>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-user"></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <select class="form-control select2bs4" style="width: 100%" name="region">
                      <option selected="selected">Choose region</option>
                      <option>Tabora</option>
                      <option>Arusha</option>
                      <option>Tanga</option>
                      <option>Mbeya</option>
                      <option>Kagera</option>
                    </select>
                  </div>
                
                  <div class="form-group mb-3">
                    <select class="form-control select2bs4" style="width: 100%" name="ward">
                      <option selected="selected">Choose ward</option>
                      <option>Tabora</option>
                      <option>Arusha</option>
                      <option>Tanga</option>
                      <option>Mbeya</option>
                      <option>Kagera</option>
                    </select>
                  </div>
                     <div class="input-group mb-3">
                    <input type="tel" class="form-control" placeholder="Phone" name="phone">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-phone"></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <select class="form-control select2bs4" style="width: 100%" name="profession">
                      <option selected="selected">Choose Profession</option>
                      <option>Entrepreneur</option>
                      <option>Intellectual</option>
                      <option>Larger scale farmer</option>
                      <option>Small scale farmer</option>
                    </select>
                  </div>
               
                 
                  <!-- /.col -->
                  <div class="col-">
                    <button type="submit" class="btn btn-primary btn-block">
                      submit 
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        
    </div>
    {% if messages %}
   
    <script>
      var messages = [];
    </script>
    {% for message in messages %}
    <script>
      messages.push({
        "message": "{{ message.message }}",
        "tag": "{{ message.tags }}"
      });
    </script>
    {% endfor %}
  {% endif %}



<script>
  $(function(){
    messages.forEach(function(message) {
      if (message.tag === "success") {
        toastr.success(message.message);
      } else if (message.tag=== "error") {
        toastr.error(message.message); 
      } else {
        
        toastr.info(message.message);
      }
    });
  });
</script>
<script>
  var token="{{ token }}"
  console.log(token)
  if(token){
    localStorage.setItem('token',token)
  }
  console.log("Token Not found!")
</script>
   </div>
    <!-- /.register-box -->

    {% endblock %}
